.case{
  background: #FF9592;
  border-radius: 1vw;
  width: 11vw;
  height: 9vw;
  margin: 0.5vw;
}

h1{
  padding-top: 1vw;
  font-size: 1.2vw;
  font-family: 'Roboto Light', sans-serif;
  color: #fff;
  text-align: center;
}

p{
  font-size: 4vw;
  font-family: 'Roboto Light', sans-serif;
  color: #fff;
  text-align: center;
  font-weight: bold;
  margin-top: -1vw;
}
