.flex{
  display: flex;
}

.right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vw;
}

.button{
  padding: 0.5vw;
  width: 17vw;
  height: 4vw;
}

.absolute{
  right: 1vw;
  top: 1vw;
  position: absolute;
}

.case{
  background: #FF9592;
  border-radius: 1vw;
  width: 11vw;
  height: 9vw;
  margin: 0.5vw;
}
