.flex{
  display: flex;
}

.right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vw;
}

.button{
  padding: 0.5vw;
  width: 17vw;
  height: 4vw;
}


h1{
  font-size: 1.2vw;
  font-family: 'Roboto Light', sans-serif;
  color: #fff;
  text-align: center;
}

p{
  font-size: 4vw;
  font-family: 'Roboto Light', sans-serif;
  color: #fff;
  text-align: center;
  font-weight: bold;
  margin-top: -1vw;
}

.case{
  background: #FF9592;
  border-radius: 1vw;
  width: 11vw;
  height: 9vw;
  margin: 0.5vw;
}
